* {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	line-height: 1;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	background: #00adb5;
}

#wrapper {
	width: 100%;
}