$default:  #333;
$form-element-border-color: #eee;
$form-element-text-color: #000;
$form-element-padding: 0.4em 0.6em;
$form-element-error-color: #f00;

$muted: #555;

$blood-red: #f00;

$danger: #f00;

$white: #fff;