* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#wrapper {
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 320px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: to-length(0, "standard")) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: to-length(0, "widescreen")) {
  .container {
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media (min-width: 768px) {
  .row-zr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media (min-width: 768px) {
  .row-zr > .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: -4px;
  margin-right: -4px;
}
@media (min-width: 320px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
}
@media (min-width: 1024px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
}
@media (min-width: to-length(0, "standard")) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media (min-width: to-length(0, "widescreen")) {
  .row {
    margin-left: -11px;
    margin-right: -11px;
  }
}
.row > .col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}
@media (min-width: 320px) {
  .row > .col {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 768px) {
  .row > .col {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: 1024px) {
  .row > .col {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (min-width: to-length(0, "standard")) {
  .row > .col {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: to-length(0, "widescreen")) {
  .row > .col {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.col-fluid {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 1;
  max-width: 100%;
}

.xs-1 {
  width: 8.3333333333%;
}

.xs-2 {
  width: 16.6666666667%;
}

.xs-3 {
  width: 25%;
}

.xs-4 {
  width: 33.3333333333%;
}

.xs-5 {
  width: 41.6666666667%;
}

.xs-6 {
  width: 50%;
}

.xs-7 {
  width: 58.3333333333%;
}

.xs-8 {
  width: 66.6666666667%;
}

.xs-9 {
  width: 75%;
}

.xs-10 {
  width: 83.3333333333%;
}

.xs-11 {
  width: 91.6666666667%;
}

.xs-12 {
  width: 100%;
}

.xs-pull-0 {
  right: auto;
}

.xs-pull-1 {
  right: 8.3333333333%;
}

.xs-pull-2 {
  right: 16.6666666667%;
}

.xs-pull-3 {
  right: 25%;
}

.xs-pull-4 {
  right: 33.3333333333%;
}

.xs-pull-5 {
  right: 41.6666666667%;
}

.xs-pull-6 {
  right: 50%;
}

.xs-pull-7 {
  right: 58.3333333333%;
}

.xs-pull-8 {
  right: 66.6666666667%;
}

.xs-pull-9 {
  right: 75%;
}

.xs-pull-10 {
  right: 83.3333333333%;
}

.xs-pull-11 {
  right: 91.6666666667%;
}

.xs-pull-12 {
  right: 100%;
}

.xs-push-0 {
  left: auto;
}

.xs-push-1 {
  left: 8.3333333333%;
}

.xs-push-2 {
  left: 16.6666666667%;
}

.xs-push-3 {
  left: 25%;
}

.xs-push-4 {
  left: 33.3333333333%;
}

.xs-push-5 {
  left: 41.6666666667%;
}

.xs-push-6 {
  left: 50%;
}

.xs-push-7 {
  left: 58.3333333333%;
}

.xs-push-8 {
  left: 66.6666666667%;
}

.xs-push-9 {
  left: 75%;
}

.xs-push-10 {
  left: 83.3333333333%;
}

.xs-push-11 {
  left: 91.6666666667%;
}

.xs-push-12 {
  left: 100%;
}

.xs-offset-0 {
  margin-left: 0%;
}

.xs-offset-1 {
  margin-left: 8.3333333333%;
}

.xs-offset-2 {
  margin-left: 16.6666666667%;
}

.xs-offset-3 {
  margin-left: 25%;
}

.xs-offset-4 {
  margin-left: 33.3333333333%;
}

.xs-offset-5 {
  margin-left: 41.6666666667%;
}

.xs-offset-6 {
  margin-left: 50%;
}

.xs-offset-7 {
  margin-left: 58.3333333333%;
}

.xs-offset-8 {
  margin-left: 66.6666666667%;
}

.xs-offset-9 {
  margin-left: 75%;
}

.xs-offset-10 {
  margin-left: 83.3333333333%;
}

.xs-offset-11 {
  margin-left: 91.6666666667%;
}

.xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 320px) {
  .sx-1 {
    width: 8.3333333333%;
  }
  .sx-2 {
    width: 16.6666666667%;
  }
  .sx-3 {
    width: 25%;
  }
  .sx-4 {
    width: 33.3333333333%;
  }
  .sx-5 {
    width: 41.6666666667%;
  }
  .sx-6 {
    width: 50%;
  }
  .sx-7 {
    width: 58.3333333333%;
  }
  .sx-8 {
    width: 66.6666666667%;
  }
  .sx-9 {
    width: 75%;
  }
  .sx-10 {
    width: 83.3333333333%;
  }
  .sx-11 {
    width: 91.6666666667%;
  }
  .sx-12 {
    width: 100%;
  }
  .sx-pull-0 {
    right: auto;
  }
  .sx-pull-1 {
    right: 8.3333333333%;
  }
  .sx-pull-2 {
    right: 16.6666666667%;
  }
  .sx-pull-3 {
    right: 25%;
  }
  .sx-pull-4 {
    right: 33.3333333333%;
  }
  .sx-pull-5 {
    right: 41.6666666667%;
  }
  .sx-pull-6 {
    right: 50%;
  }
  .sx-pull-7 {
    right: 58.3333333333%;
  }
  .sx-pull-8 {
    right: 66.6666666667%;
  }
  .sx-pull-9 {
    right: 75%;
  }
  .sx-pull-10 {
    right: 83.3333333333%;
  }
  .sx-pull-11 {
    right: 91.6666666667%;
  }
  .sx-pull-12 {
    right: 100%;
  }
  .sx-push-0 {
    left: auto;
  }
  .sx-push-1 {
    left: 8.3333333333%;
  }
  .sx-push-2 {
    left: 16.6666666667%;
  }
  .sx-push-3 {
    left: 25%;
  }
  .sx-push-4 {
    left: 33.3333333333%;
  }
  .sx-push-5 {
    left: 41.6666666667%;
  }
  .sx-push-6 {
    left: 50%;
  }
  .sx-push-7 {
    left: 58.3333333333%;
  }
  .sx-push-8 {
    left: 66.6666666667%;
  }
  .sx-push-9 {
    left: 75%;
  }
  .sx-push-10 {
    left: 83.3333333333%;
  }
  .sx-push-11 {
    left: 91.6666666667%;
  }
  .sx-push-12 {
    left: 100%;
  }
  .sx-offset-0 {
    margin-left: 0%;
  }
  .sx-offset-1 {
    margin-left: 8.3333333333%;
  }
  .sx-offset-2 {
    margin-left: 16.6666666667%;
  }
  .sx-offset-3 {
    margin-left: 25%;
  }
  .sx-offset-4 {
    margin-left: 33.3333333333%;
  }
  .sx-offset-5 {
    margin-left: 41.6666666667%;
  }
  .sx-offset-6 {
    margin-left: 50%;
  }
  .sx-offset-7 {
    margin-left: 58.3333333333%;
  }
  .sx-offset-8 {
    margin-left: 66.6666666667%;
  }
  .sx-offset-9 {
    margin-left: 75%;
  }
  .sx-offset-10 {
    margin-left: 83.3333333333%;
  }
  .sx-offset-11 {
    margin-left: 91.6666666667%;
  }
  .sx-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .sm-1 {
    width: 8.3333333333%;
  }
  .sm-2 {
    width: 16.6666666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.3333333333%;
  }
  .sm-5 {
    width: 41.6666666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.3333333333%;
  }
  .sm-8 {
    width: 66.6666666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.3333333333%;
  }
  .sm-11 {
    width: 91.6666666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-pull-0 {
    right: auto;
  }
  .sm-pull-1 {
    right: 8.3333333333%;
  }
  .sm-pull-2 {
    right: 16.6666666667%;
  }
  .sm-pull-3 {
    right: 25%;
  }
  .sm-pull-4 {
    right: 33.3333333333%;
  }
  .sm-pull-5 {
    right: 41.6666666667%;
  }
  .sm-pull-6 {
    right: 50%;
  }
  .sm-pull-7 {
    right: 58.3333333333%;
  }
  .sm-pull-8 {
    right: 66.6666666667%;
  }
  .sm-pull-9 {
    right: 75%;
  }
  .sm-pull-10 {
    right: 83.3333333333%;
  }
  .sm-pull-11 {
    right: 91.6666666667%;
  }
  .sm-pull-12 {
    right: 100%;
  }
  .sm-push-0 {
    left: auto;
  }
  .sm-push-1 {
    left: 8.3333333333%;
  }
  .sm-push-2 {
    left: 16.6666666667%;
  }
  .sm-push-3 {
    left: 25%;
  }
  .sm-push-4 {
    left: 33.3333333333%;
  }
  .sm-push-5 {
    left: 41.6666666667%;
  }
  .sm-push-6 {
    left: 50%;
  }
  .sm-push-7 {
    left: 58.3333333333%;
  }
  .sm-push-8 {
    left: 66.6666666667%;
  }
  .sm-push-9 {
    left: 75%;
  }
  .sm-push-10 {
    left: 83.3333333333%;
  }
  .sm-push-11 {
    left: 91.6666666667%;
  }
  .sm-push-12 {
    left: 100%;
  }
  .sm-offset-0 {
    margin-left: 0%;
  }
  .sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1024px) {
  .md-1 {
    width: 8.3333333333%;
  }
  .md-2 {
    width: 16.6666666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.3333333333%;
  }
  .md-5 {
    width: 41.6666666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.3333333333%;
  }
  .md-8 {
    width: 66.6666666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.3333333333%;
  }
  .md-11 {
    width: 91.6666666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-pull-0 {
    right: auto;
  }
  .md-pull-1 {
    right: 8.3333333333%;
  }
  .md-pull-2 {
    right: 16.6666666667%;
  }
  .md-pull-3 {
    right: 25%;
  }
  .md-pull-4 {
    right: 33.3333333333%;
  }
  .md-pull-5 {
    right: 41.6666666667%;
  }
  .md-pull-6 {
    right: 50%;
  }
  .md-pull-7 {
    right: 58.3333333333%;
  }
  .md-pull-8 {
    right: 66.6666666667%;
  }
  .md-pull-9 {
    right: 75%;
  }
  .md-pull-10 {
    right: 83.3333333333%;
  }
  .md-pull-11 {
    right: 91.6666666667%;
  }
  .md-pull-12 {
    right: 100%;
  }
  .md-push-0 {
    left: auto;
  }
  .md-push-1 {
    left: 8.3333333333%;
  }
  .md-push-2 {
    left: 16.6666666667%;
  }
  .md-push-3 {
    left: 25%;
  }
  .md-push-4 {
    left: 33.3333333333%;
  }
  .md-push-5 {
    left: 41.6666666667%;
  }
  .md-push-6 {
    left: 50%;
  }
  .md-push-7 {
    left: 58.3333333333%;
  }
  .md-push-8 {
    left: 66.6666666667%;
  }
  .md-push-9 {
    left: 75%;
  }
  .md-push-10 {
    left: 83.3333333333%;
  }
  .md-push-11 {
    left: 91.6666666667%;
  }
  .md-push-12 {
    left: 100%;
  }
  .md-offset-0 {
    margin-left: 0%;
  }
  .md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: to-length(0, "standard")) {
  .sd-1 {
    width: 8.3333333333%;
  }
  .sd-2 {
    width: 16.6666666667%;
  }
  .sd-3 {
    width: 25%;
  }
  .sd-4 {
    width: 33.3333333333%;
  }
  .sd-5 {
    width: 41.6666666667%;
  }
  .sd-6 {
    width: 50%;
  }
  .sd-7 {
    width: 58.3333333333%;
  }
  .sd-8 {
    width: 66.6666666667%;
  }
  .sd-9 {
    width: 75%;
  }
  .sd-10 {
    width: 83.3333333333%;
  }
  .sd-11 {
    width: 91.6666666667%;
  }
  .sd-12 {
    width: 100%;
  }
  .sd-pull-0 {
    right: auto;
  }
  .sd-pull-1 {
    right: 8.3333333333%;
  }
  .sd-pull-2 {
    right: 16.6666666667%;
  }
  .sd-pull-3 {
    right: 25%;
  }
  .sd-pull-4 {
    right: 33.3333333333%;
  }
  .sd-pull-5 {
    right: 41.6666666667%;
  }
  .sd-pull-6 {
    right: 50%;
  }
  .sd-pull-7 {
    right: 58.3333333333%;
  }
  .sd-pull-8 {
    right: 66.6666666667%;
  }
  .sd-pull-9 {
    right: 75%;
  }
  .sd-pull-10 {
    right: 83.3333333333%;
  }
  .sd-pull-11 {
    right: 91.6666666667%;
  }
  .sd-pull-12 {
    right: 100%;
  }
  .sd-push-0 {
    left: auto;
  }
  .sd-push-1 {
    left: 8.3333333333%;
  }
  .sd-push-2 {
    left: 16.6666666667%;
  }
  .sd-push-3 {
    left: 25%;
  }
  .sd-push-4 {
    left: 33.3333333333%;
  }
  .sd-push-5 {
    left: 41.6666666667%;
  }
  .sd-push-6 {
    left: 50%;
  }
  .sd-push-7 {
    left: 58.3333333333%;
  }
  .sd-push-8 {
    left: 66.6666666667%;
  }
  .sd-push-9 {
    left: 75%;
  }
  .sd-push-10 {
    left: 83.3333333333%;
  }
  .sd-push-11 {
    left: 91.6666666667%;
  }
  .sd-push-12 {
    left: 100%;
  }
  .sd-offset-0 {
    margin-left: 0%;
  }
  .sd-offset-1 {
    margin-left: 8.3333333333%;
  }
  .sd-offset-2 {
    margin-left: 16.6666666667%;
  }
  .sd-offset-3 {
    margin-left: 25%;
  }
  .sd-offset-4 {
    margin-left: 33.3333333333%;
  }
  .sd-offset-5 {
    margin-left: 41.6666666667%;
  }
  .sd-offset-6 {
    margin-left: 50%;
  }
  .sd-offset-7 {
    margin-left: 58.3333333333%;
  }
  .sd-offset-8 {
    margin-left: 66.6666666667%;
  }
  .sd-offset-9 {
    margin-left: 75%;
  }
  .sd-offset-10 {
    margin-left: 83.3333333333%;
  }
  .sd-offset-11 {
    margin-left: 91.6666666667%;
  }
  .sd-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: to-length(0, "widescreen")) {
  .lg-1 {
    width: 8.3333333333%;
  }
  .lg-2 {
    width: 16.6666666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.3333333333%;
  }
  .lg-5 {
    width: 41.6666666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.3333333333%;
  }
  .lg-8 {
    width: 66.6666666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.3333333333%;
  }
  .lg-11 {
    width: 91.6666666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-pull-0 {
    right: auto;
  }
  .lg-pull-1 {
    right: 8.3333333333%;
  }
  .lg-pull-2 {
    right: 16.6666666667%;
  }
  .lg-pull-3 {
    right: 25%;
  }
  .lg-pull-4 {
    right: 33.3333333333%;
  }
  .lg-pull-5 {
    right: 41.6666666667%;
  }
  .lg-pull-6 {
    right: 50%;
  }
  .lg-pull-7 {
    right: 58.3333333333%;
  }
  .lg-pull-8 {
    right: 66.6666666667%;
  }
  .lg-pull-9 {
    right: 75%;
  }
  .lg-pull-10 {
    right: 83.3333333333%;
  }
  .lg-pull-11 {
    right: 91.6666666667%;
  }
  .lg-pull-12 {
    right: 100%;
  }
  .lg-push-0 {
    left: auto;
  }
  .lg-push-1 {
    left: 8.3333333333%;
  }
  .lg-push-2 {
    left: 16.6666666667%;
  }
  .lg-push-3 {
    left: 25%;
  }
  .lg-push-4 {
    left: 33.3333333333%;
  }
  .lg-push-5 {
    left: 41.6666666667%;
  }
  .lg-push-6 {
    left: 50%;
  }
  .lg-push-7 {
    left: 58.3333333333%;
  }
  .lg-push-8 {
    left: 66.6666666667%;
  }
  .lg-push-9 {
    left: 75%;
  }
  .lg-push-10 {
    left: 83.3333333333%;
  }
  .lg-push-11 {
    left: 91.6666666667%;
  }
  .lg-push-12 {
    left: 100%;
  }
  .lg-offset-0 {
    margin-left: 0%;
  }
  .lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
}
.form__set:before, .clearfix:before, .form__set:after, .clearfix:after {
  content: " ";
  display: table;
}
.form__set:after, .clearfix:after {
  clear: both;
}

.clearfix-after:after {
  content: "";
  display: block;
  clear: both;
}

.form__action {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -9999px;
  width: 1px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 320px) {
  .start-sx {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-sx {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-sx {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-sx {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-sx {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-sx {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-sx {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-sx {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-sx {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-sx {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 768px) {
  .start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1024px) {
  .start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: to-length(0, "widescreen")) {
  .start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.visible-xs {
  display: none !important;
}

.visible-sx {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-sd {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

@media (max-width: 320px) {
  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .visible-sx {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm {
    display: block !important;
  }
}

@media (min-width: 1024px) and (max-width: to-length(0, "standard")) {
  .visible-md {
    display: block !important;
  }
}

@media (min-width: to-length(0, "standard")) and (max-width: to-length(0, "widescreen")) {
  .visible-sd {
    display: block !important;
  }
}

@media (min-width: to-length(0, "widescreen")) {
  .visible-lg {
    display: block !important;
  }
}

@media (max-width: 320px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .hidden-sx {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: to-length(0, "standard")) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: to-length(0, "standard")) and (max-width: to-length(0, "widescreen")) {
  .hidden-sd {
    display: none !important;
  }
}

@media (min-width: to-length(0, "widescreen")) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) {
  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 768px) {
  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 768px) {
  .order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (min-width: 768px) {
  .order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (min-width: 768px) {
  .order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

@media (min-width: 768px) {
  .order-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}

@media (min-width: 768px) {
  .order-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}

@media (min-width: 768px) {
  .order-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
}

@media (min-width: 768px) {
  .order-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

@media (min-width: 768px) {
  .order-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
}

@media (min-width: 768px) {
  .order-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.button {
  font: 400 16px/1 "Karla", sans-serif;
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  height: 40px;
  padding: 10px 18px;
  min-width: 110px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.4s ease-in-out, border 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, border 0.4s ease-in-out, color 0.4s ease-in-out;
}
@media (min-width: 1024px) {
  .button {
    min-width: 140px;
  }
}
.button:focus {
  outline: none;
}

.fare-tint {
  background: #FF8051;
  border-color: #FF8051;
  color: #fff;
}
.fare-tint:hover, .fare-tint:focus {
  background: #ff9e7a;
  border-color: #ff9e7a;
  color: #fff;
}

.snow-tint {
  background: #fff;
  border-color: #fff;
  color: #000;
  text-shadow: 0 0 0 #000;
}
.snow-tint:hover, .snow-tint:focus {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.snow-line {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.snow-line:hover, .snow-line:focus {
  background: #fff;
  color: #000;
}

.snow-blank {
  background: transparent;
  border-color: transparent;
  color: #fff;
}
.snow-blank:hover, .snow-blank:focus {
  background: #fff;
  color: #000;
}

.coal-tint {
  background: #000;
  border-color: #000;
  color: #fff;
}
.coal-tint:hover, .coal-tint:focus {
  background: #141414;
  border-color: #141414;
  color: #fff;
}

.coal-line {
  background: transparent;
  border-color: #000;
  color: #000;
}
.coal-line:hover, .coal-line:focus {
  background: #000;
  color: #fff;
}

.coal-blank {
  background: transparent;
  border-color: transparent;
  color: #000;
}
.coal-blank:hover, .coal-blank:focus {
  background: #000;
  color: #fff;
}

.success-tint {
  background: #2baa3d;
  border-color: #2baa3d;
  color: #fff;
}
.success-tint:hover, .success-tint:focus {
  background: #33cb49;
  border-color: #33cb49;
  color: #fff;
}

.success-line {
  background: transparent;
  border-color: #2baa3d;
  color: #2baa3d;
}
.success-line:hover, .success-line:focus {
  background: #2baa3d;
  color: #fff;
}

.success-blank {
  background: transparent;
  border-color: transparent;
  color: #2baa3d;
}
.success-blank:hover, .success-blank:focus {
  background: #2baa3d;
  color: #fff;
}

.danger-tint {
  background: #f00;
  border-color: #f00;
  color: #fff;
}
.danger-tint:hover, .danger-tint:focus {
  background: #ff2929;
  border-color: #ff2929;
  color: #fff;
}

.danger-line {
  background: transparent;
  border-color: #f00;
  color: #f00;
}
.danger-line:hover, .danger-line:focus {
  background: #f00;
  color: #fff;
}

.danger-blank {
  background: transparent;
  border-color: transparent;
  color: #f00;
}
.danger-blank:hover, .danger-blank:focus {
  background: #f00;
  color: #fff;
}

.warning-tint {
  background: #fdb000;
  border-color: #fdb000;
  color: #fff;
}
.warning-tint:hover, .warning-tint:focus {
  background: #ffbd27;
  border-color: #ffbd27;
  color: #fff;
}

.warning-line {
  background: transparent;
  border-color: #fdb000;
  color: #fdb000;
}
.warning-line:hover, .warning-line:focus {
  background: #fdb000;
  color: #fff;
}

.warning-blank {
  background: transparent;
  border-color: transparent;
  color: #fdb000;
}
.warning-blank:hover, .warning-blank:focus {
  background: #fdb000;
  color: #fff;
}

.info-tint {
  background: #21b6ea;
  border-color: #21b6ea;
  color: #fff;
}
.info-tint:hover, .info-tint:focus {
  background: #46c2ee;
  border-color: #46c2ee;
  color: #fff;
}

.info-line {
  background: transparent;
  border-color: #21b6ea;
  color: #21b6ea;
}
.info-line:hover, .info-line:focus {
  background: #21b6ea;
  color: #fff;
}

.info-blank {
  background: transparent;
  border-color: transparent;
  color: #21b6ea;
}
.info-blank:hover, .info-blank:focus {
  background: #21b6ea;
  color: #fff;
}

.default-tint {
  background: #333;
  border-color: #333;
  color: #fff;
}
.default-tint:hover, .default-tint:focus {
  background: #474747;
  border-color: #474747;
  color: #fff;
}

.default-line {
  background: transparent;
  border-color: #333;
  color: #333;
}
.default-line:hover, .default-line:focus {
  background: #333;
  color: #fff;
}

.default-blank {
  background: transparent;
  border-color: transparent;
  color: #333;
}
.default-blank:hover, .default-blank:focus {
  background: #333;
  color: #fff;
}

.light-tint {
  background: #f9f9f9;
  border-color: #f9f9f9;
  color: #fff;
}
.light-tint:hover, .light-tint:focus {
  background: #e5e5e5;
  border-color: #e5e5e5;
  color: #fff;
}

.light-line {
  background: transparent;
  border-color: #f9f9f9;
  color: #f9f9f9;
}
.light-line:hover, .light-line:focus {
  background: #f9f9f9;
  color: #000;
}

.light-blank {
  background: transparent;
  border-color: transparent;
  color: #f9f9f9;
}
.light-blank:hover, .light-blank:focus {
  background: #f9f9f9;
  color: #000;
}

.muted-tint {
  background: #555;
  border: 1px solid #555;
  color: #000;
}
.muted-tint:hover, .muted-tint:focus {
  background: #414141;
  border-color: #414141;
  color: #000;
}

.muted-line {
  background: transparent;
  border-color: #555;
  color: #555;
}
.muted-line:hover, .muted-line:focus {
  background: #555;
  color: #000;
}

.muted-blank {
  background: transparent;
  border-color: transparent;
  color: #555;
}
.muted-blank:hover, .muted-blank:focus {
  background: #555;
  color: #000;
}

.primary-tint {
  background: #00435B;
  border-color: #00435B;
  color: #fff;
}
.primary-tint:hover, .primary-tint:focus {
  background: #006184;
  border-color: #006184;
  color: #fff;
}

.primary-line {
  background: transparent;
  border-color: #00435B;
  color: #00435B;
}
.primary-line:hover, .primary-line:focus {
  background: #00435B;
  color: #fff;
}

.primary-blank {
  background: transparent;
  border-color: transparent;
  color: #00435B;
}
.primary-blank:hover, .primary-blank:focus {
  background: #00435B;
  color: #fff;
}

.secondary-tint {
  background: #33bdf2;
  border-color: #33bdf2;
  color: #fff;
}
.secondary-tint:hover, .secondary-tint:focus {
  background: #59c9f4;
  border-color: #59c9f4;
  color: #fff;
}

.secondary-line {
  background: transparent;
  border-color: #33bdf2;
  color: #33bdf2;
}
.secondary-line:hover, .secondary-line:focus {
  background: #33bdf2;
  color: #fff;
}

.secondary-blank {
  background: transparent;
  border-color: transparent;
  color: #33bdf2;
}
.secondary-blank:hover, .secondary-blank:focus {
  background: #33bdf2;
  color: #fff;
}

.tertiary-tint {
  background: #fd7900;
  border-color: #fd7900;
  color: #fff;
}
.tertiary-tint:hover, .tertiary-tint:focus {
  background: #ff8e27;
  border-color: #ff8e27;
  color: #fff;
}

.tertiary-line {
  background: none;
  border-color: #fd7900;
  color: #fd7900;
}
.tertiary-line:hover, .tertiary-line:focus {
  background: #fd7900;
  color: #fff;
}

.tertiary-blank {
  background: transparent;
  border-color: transparent;
  color: #fd7900;
}
.tertiary-blank:hover, .tertiary-blank:focus {
  background: #fd7900;
  color: #fff;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?g2qpf");
  src: url("../fonts/icomoon.eot?g2qpf#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g2qpf") format("truetype"), url("../fonts/icomoon.woff?g2qpf") format("woff"), url("../fonts/icomoon.svg?g2qpf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-solid-circle:before {
  content: "\e900";
}

.icon-triangle-down:before {
  content: "\e901";
}

.dashboardpg .dashboard_table {
  -webkit-box-shadow: 1px 1px 20px #f0f0f0;
          box-shadow: 1px 1px 20px #f0f0f0;
  margin: 0 auto;
  width: 1198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dashboardpg .dashboard_table table {
  table-layout: fixed;
  border: none;
  width: 100%;
  border-collapse: collapse;
}
.dashboardpg .dashboard_table table tr, .dashboardpg .dashboard_table table td, .dashboardpg .dashboard_table table th {
  text-align: center;
  padding: 10px;
}
.dashboardpg .dashboard_table table th {
  line-height: 2;
  background: #e1feff;
  color: #00ADB5;
  border-color: #efefef;
  font-weight: 600;
  font-size: 14px;
}
.dashboardpg .dashboard_table table td {
  line-height: 2;
  font-size: 13px;
  color: #5c5c5c;
  background: #e1feff;
}
.dashboardpg .content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 1px 20px #f0f0f0;
          box-shadow: 1px 1px 20px #f0f0f0;
}
.dashboardpg .content table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.dashboardpg .content table tr, .dashboardpg .content table td, .dashboardpg .content table th {
  text-align: center;
  padding: 10px;
}
.dashboardpg .content table th {
  line-height: 2;
  color: #fff;
  border-color: #efefef;
  font-weight: 600;
  font-size: 14px;
}
.dashboardpg .content table td {
  line-height: 3.8em;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  background: #fff;
}

.tracking__table {
  margin: 0 auto;
  width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tracking__table table {
  table-layout: fixed;
  border: none;
  width: 100%;
  border-collapse: collapse;
}
.tracking__table table tr, .tracking__table table td, .tracking__table table th {
  text-align: center;
  border-bottom: 0.1em solid;
  border-color: #efefef;
  padding: 15px;
}
.tracking__table table td {
  line-height: 1.8;
  font-size: 13px;
}
.tracking__table table th {
  line-height: 1.8;
  background: #09A7AE;
  color: #fff;
  border-color: #efefef;
  font-weight: 500;
  font-size: 14px;
}
.tracking__table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.site__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-itemss: center;
  padding: 22px 84px;
  -webkit-box-shadow: 1px 1px 20px #f0f0f0;
          box-shadow: 1px 1px 20px #f0f0f0;
}
.site__header .site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.site__header .site__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site__header .site__nav ul li {
  list-style: none;
  padding: 0 17px 0 14px;
}
.site__header .site__nav ul li a {
  text-decoration: none;
  color: #000;
}
.site__header .site__nav-drop {
  display: none;
}

.header--profile button {
  width: 30px;
  height: 30px;
  border: none;
  color: #000;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  display: block;
  background: none;
  margin: 0 10px 0 18px;
}

.site__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-itemss: center;
  padding: 22px 84px;
  -webkit-box-shadow: 1px 1px 20px #f0f0f0;
          box-shadow: 1px 1px 20px #f0f0f0;
}
.site__header .site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.site__header .site__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site__header .site__nav ul li {
  list-style: none;
  padding: 0 17px 0 14px;
}
.site__header .site__nav ul li a {
  text-decoration: none;
  color: #000;
}
.site__header .site__nav-drop {
  display: none;
}

.header--profile button {
  width: 30px;
  height: 30px;
  border: none;
  color: #000;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  display: block;
  background: none;
  margin: 0 10px 0 18px;
}

input[type=submit],
button {
  cursor: pointer;
}
input[type=submit]:focus,
button:focus {
  border-color: none(#333, 11.37);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.general--form {
  border-style: none;
  margin: 0;
  padding: 0;
}
.general--form fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}
.general--form .form__input,
.general--form input[type=text],
.general--form input[type=tel],
.general--form input[type=email],
.general--form input[type=search],
.general--form input[type=number],
.general--form input[type=password],
.general--form input[type=url],
.general--form input[type=date],
.general--form input[type=time],
.general--form textarea,
.general--form select {
  font: 400 14px/16px "Karla", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-color: #eee;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  display: block;
  padding: 0.4em 0.6em;
  height: 42px;
  outline: none;
  width: 100%;
  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
}
.general--form .form__input:focus,
.general--form input[type=text]:focus,
.general--form input[type=tel]:focus,
.general--form input[type=email]:focus,
.general--form input[type=search]:focus,
.general--form input[type=number]:focus,
.general--form input[type=password]:focus,
.general--form input[type=url]:focus,
.general--form input[type=date]:focus,
.general--form input[type=time]:focus,
.general--form textarea:focus,
.general--form select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.general--form select {
  padding-right: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.general--form select::-ms-expand {
  display: none;
}
.general--form textarea {
  line-height: 1.3;
  resize: none;
  height: 120px;
  vertical-align: top;
}
.general--form input[readonly],
.general--form textarea[readonly],
.general--form select[readonly] {
  background: #555;
}
.general--form input[disabled] {
  background: #eee;
}
.general--form input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.form__module {
  margin: 0 0 15px;
}
.form__label {
  font: 400 14px/1.3 "Karla", sans-serif;
  display: inline-block;
  vertical-align: bottom;
  color: #333;
}
.form__label sup {
  color: #f00;
}
.form .form__input + .form--error,
.form input + .form--error,
.form select + .form--error,
.form textarea + .form--error {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form .form__input + .form--error:before,
.form input + .form--error:before,
.form select + .form--error:before,
.form textarea + .form--error:before {
  border-width: 4px 7px 4px 0;
  border-color: transparent #f00 transparent transparent;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__set {
  position: relative;
  z-index: 0;
}
.form__action {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.form.form--error .form-set input,
.form.form--error .form-set select,
.form.form--error .form-set textarea {
  border-color: #fa0000;
}
.form label.form--error {
  font-size: 12px;
  line-height: 1.25;
  background: #f00;
  border-radius: 4px;
  padding: 2px 8px;
  color: #fff;
}
.form label.form--error:before {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
}

.loginpg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00435B;
}
.loginpg .portal {
  background: #fff;
  width: 380px;
  height: 480px;
  padding: 32px 40px;
  border-radius: 10px;
}
.loginpg .logo {
  width: 126px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.loginpg .logo img {
  display: block;
  width: 100%;
  height: auto;
}
.loginpg .form__action {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loginpg .form__action .button {
  border-radius: 5px;
  width: 320px;
  height: 42px;
}

.form_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_nav a {
  font-size: 14px;
  color: #00435B;
}

#ctcEmail {
  border-radius: 5px;
}

#ctcPassword {
  border-radius: 5px;
}

.form__label {
  color: #00435B;
  background: #fff;
  width: 85px;
  text-align: center;
}

.form__remb {
  padding: 0;
  margin: 0;
  color: #00435B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__remb input[type=checkbox] {
  border: 3px;
}

.form__rufp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.reset__panel {
  height: 450px;
  width: 422px;
  margin: 100px auto;
  padding: 4px 43px;
  -webkit-box-shadow: 1px 1px 20px #f0f0f0;
          box-shadow: 1px 1px 20px #f0f0f0;
}
.reset__panel .form__action {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
}
.reset__panel .form__action .primary-line {
  width: 99px;
  border-color: #bababa;
  color: #333;
  background: #f1f1f1;
}
.reset__panel .form__action .primary-line:hover, .reset__panel .form__action .primary-line:focus {
  background: #00435B;
  color: #fff;
}

.general--form__text {
  font-size: 24px;
  font-weight: 400;
}

.form__label {
  padding: 10px 0;
  font-size: 16px;
}

.button {
  border-radius: 0;
}

.form__set input,
.form__set select,
.form__set textarea {
  border-color: #d9d9d9;
}
/*# sourceMappingURL=main.css.map */